<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Registrar firmas - ASD</title>
        <link href="../assets/css/styles.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet">
        <link href="../assets/css/styles-tfg.min.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous" async></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-menu">
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <a class="navbar-brand ps-3 title" href="/"> Seguimiento Docente </a>
            
            <!-- Navbar-->
            <ul class="d-md-inline-block navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark bg-menu" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <% if (usuario.rol != 'Admin') { %>
                                <div class="sb-sidenav-menu-heading text-bg-menu">Docente</div>
                                <a class="nav-link text-bg-menu" href="/formulario-aulas">
                                    <div class="sb-nav-link-icon"><i class="fas fa-user-pen"></i></div>
                                    Registrar asistencia
                                </a>
                                <a class="nav-link collapsed text-bg-menu" href="#" data-bs-toggle="collapse" data-bs-target="#collapseGestionDocente" aria-expanded="false" aria-controls="collapseGestionDocente">
                                    <div class="sb-nav-link-icon"><i class="far fa-calendar-days"></i></div>
                                    Gestión
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseGestionDocente" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <!-- <a class="nav-link text-bg-menu" href="/cambio-clase">Intercambiar Clase</a> -->
                                        <a class="nav-link text-bg-menu" href="/anular-clase">Cancelar Clase</a>
                                        <a class="nav-link text-bg-menu" href="/lista-registro-motivo-falta">Registrar motivo de falta</a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed text-bg-menu" href="#" data-bs-toggle="collapse" data-bs-target="#collapseDispositivosDocente" aria-expanded="false" aria-controls="collapseDispositivosDocente">
                                    <div class="sb-nav-link-icon"><i class="fas fa-microchip"></i></div>
                                    Gestión de Dispositivos
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseDispositivosDocente" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <!-- <a class="nav-link text-bg-menu" href="/cambio-clase">Intercambiar Clase</a> -->
                                        <a class="nav-link text-bg-menu" href="/registro-mac">Registro de MACs</a>
                                        <a class="nav-link text-bg-menu" href="/registro-nfc">Registro de NFCs</a>
                                    </nav>
                                </div>
                            <% } %>
                            <% if (usuario.rol == 'Decanato') { %>
                                <div class="sb-sidenav-menu-heading text-bg-menu">Decanato</div>
                                <a class="nav-link text-bg-menu" href="/profesores-infracciones">
                                    <div class="sb-nav-link-icon"><i class="fas fa-file-circle-exclamation"></i></div>
                                    Resumen de faltas
                                </a>
                            <% } %>
                            <% if (usuario.rol == 'Admin') { %>
                                <div class="sb-sidenav-menu-heading text-bg-menu">Administrador</div>
                                <a class="nav-link text-bg-menu" href="/registrar-firmas">
                                    <div class="sb-nav-link-icon"><i class="fas fa-file-signature"></i></div>
                                    Registrar firmas
                                </a>
                                <a class="nav-link text-bg-menu" href="/verificar-docencias">
                                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                    Ver docencias
                                </a>
                                <a class="nav-link text-bg-menu" href="/generar-avisos">
                                    <div class="sb-nav-link-icon"><i class="fas fa-envelope"></i></div>
                                    Enviar avisos
                                </a>
                                <a class="nav-link text-bg-menu" href="/crear-usuario">
                                    <div class="sb-nav-link-icon"><i class="fas fa-user-plus"></i></div>
                                    Crear un usuario
                                </a>
                            <% } %>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer bg-menu">
                        <div class="small">Logged in as:</div>
                        <%= usuario.nombre %> <%= usuario.apellidos %>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Tables</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Docencias del día
                            </div>
                            <div class="card-body">
                                <h3>Filtros</h3>
                                <div class="py-2 justify-content-between">
                                    <form method="post">
                                        <input type="hidden" name="postType" value="filtro"/>
                                        <label class="ms-2 me-1" for="date-filter">Fecha</label>
                                        <input class="datatable-selector" type="date" id="date-filter" name="fecha" value="<%= fecha %>" min="2023-09-11" max="2030-07-31" />
                                        <label class="ms-2 me-1" for="espacio-filter">Espacio</label>
                                        <select class="select datatable-selector dt-status-filter" id="espacio-filter" name="espacio">
                                            <% espacios.forEach(function(espacio) { %>
                                                <% if (espacio.seleccionado) { %>
                                                    <option value="<%= espacio.id %>" selected="selected"><%= espacio.nombre %></option>
                                                <% } else { %>
                                                    <option value="<%= espacio.id %>"><%= espacio.nombre %></option>
                                                <% } %>
                                            <% }); %>
                                        </select>
                                        <button class="btn btn-primary" id="filter-button" type="submit"> Filtrar </button>
                                    </form>
                                </div>
                                <div class="justify-content-between"  style="display: none;" id="mensaje_carga"> <h5> Cargando datos... </h5> </div>
                                <table id="datatable" class="w-100">
                                    <thead>
                                        <tr>
                                            <th>Hora</th>
                                            <th>Clase</th>
                                            <th>Docente</th>
                                            <th>Sustituto</th>
                                            <th>Ha firmado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (let i = 0; i < clases.length; i++) { %>
                                        <% let clase = clases[i]; %>
                                            <tr>
                                                <form method="post" id="post<%= i %>">
                                                    <input type="hidden" name="postType" value="firma"/>
                                                    <input type="hidden" name="pos" value="<%= i %>"/>
                                                    <td name="hora" value="<%= clase.hora %>"><%= clase.hora %></td>
                                                    <td name="clase" value="<%= clase.clase %>"><%= clase.clase %></td>
                                                    <td name="docente" value="<%= clase.docente %>"><%= clase.docente %></td>
                                                    <td>
                                                        <div class="justify-content-between">
                                                            <select class="select form-control w-75" id="sustituto_filter<%= i %>" name="sustituto">
                                                                <option value="no">No hay sustituto</option>
                                                                <% docentes.forEach(function(docente) { %>
                                                                    <option value="<%= docente %>"><%= docente %></option>
                                                                <% }); %>
                                                            </select>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check">
                                                            <button class="btn btn-success p-0 align-items-center" style="width:40px;height:28px" type="submit" value="" id="registrar<%= i %>">
                                                                <img src="../assets/Tick Form.svg">
                                                            </button>
                                                        </div>
                                                    </td>
                                                </form>
                                            </tr>
                                        <% } %>                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="../assets/js/scripts.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
        <script src="../assets/js/datatables-demo.min.js"></script>
        <script src="../assets/js/filtro-firmas.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
        <script> 
            $(document).ready(function() {
                // Initialize Select2
                var select2 = $('.select').select2();
            });
        </script>
    </body>
</html>