<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Ver docencias - ASD</title>
        <link href="../assets/css/styles.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet">
        <link href="../assets/css/styles-tfg.min.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous" async></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-menu">
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <a class="navbar-brand ps-3 title" href="/"> Seguimiento Docente </a>
            
            <!-- Navbar-->
            <ul class="d-md-inline-block navbar-nav ms-auto me-0 me-md-3 my-2 my-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark bg-menu" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading text-bg-menu">Docente</div>
                            <a class="nav-link text-bg-menu" href="/formulario-aulas">
                                <div class="sb-nav-link-icon"><i class="fas fa-user-pen"></i></div>
                                Registrar asistencia
                            </a>
                            <a class="nav-link collapsed text-bg-menu" href="#" data-bs-toggle="collapse" data-bs-target="#collapseGestionDocente" aria-expanded="false" aria-controls="collapseGestionDocente">
                                <div class="sb-nav-link-icon"><i class="far fa-calendar-days"></i></div>
                                Gestión
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseGestionDocente" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <!-- <a class="nav-link text-bg-menu" href="/cambio-clase">Intercambiar Clase</a> -->
                                    <a class="nav-link text-bg-menu" href="/anular-clase">Cancelar Clase</a>
                                    <a class="nav-link text-bg-menu" href="/lista-registro-motivo-falta">Registrar motivo de falta</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed text-bg-menu" href="#" data-bs-toggle="collapse" data-bs-target="#collapseDispositivosDocente" aria-expanded="false" aria-controls="collapseDispositivosDocente">
                                <div class="sb-nav-link-icon"><i class="fas fa-microchip"></i></div>
                                Gestión de Dispositivos
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseDispositivosDocente" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <!-- <a class="nav-link text-bg-menu" href="/cambio-clase">Intercambiar Clase</a> -->
                                    <a class="nav-link text-bg-menu" href="/registro-mac">Registro de MACs</a>
                                    <a class="nav-link text-bg-menu" href="/registro-nfc">Registro de NFCs</a>
                                </nav>
                            </div>
                            <% if (usuario.rol == 'Decanato') { %>
                                <div class="sb-sidenav-menu-heading text-bg-menu">Decanato</div>
                                <a class="nav-link text-bg-menu" href="/profesores-infracciones">
                                    <div class="sb-nav-link-icon"><i class="fas fa-file-circle-exclamation"></i></div>
                                    Resumen de faltas
                                </a>
                            <% } %>
                            <% if (usuario.rol == 'Admin') { %>
                                <div class="sb-sidenav-menu-heading text-bg-menu">Administrador</div>
                                <a class="nav-link text-bg-menu" href="/registrar-firmas">
                                    <div class="sb-nav-link-icon"><i class="fas fa-file-signature"></i></div>
                                    Registrar firmas
                                </a>
                                <a class="nav-link text-bg-menu" href="/verificar-docencias">
                                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                    Ver docencias
                                </a>
                                <!-- <a class="nav-link text-bg-menu" href="/enviar-avisos">
                                    <div class="sb-nav-link-icon"><i class="fas fa-envelope"></i></div>
                                    Enviar avisos
                                </a> -->
                                <a class="nav-link text-bg-menu" href="/crear-usuario">
                                    <div class="sb-nav-link-icon"><i class="fas fa-user-plus"></i></div>
                                    Crear un usuario
                                </a>
                            <% } %>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer bg-menu">
                        <div class="small">Logged in as:</div>
                        <%= usuario.nombre %> <%= usuario.apellidos %>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Docencias del día
                            </div>
                            <div class="card-body">
                                <table id="datatable" class="w-100">
                                    <div class="py-2">
                                        <label for="date-filter">Fecha</label>
                                        <input class="datatable-selector" type="date" id="date-filter" name="date-filter" value="<%= fecha %>" min="2023-09-11" max="<%= fecha_max %>>" />
                                        <label for="status-filter">Filtrar por</label>
                                        <select class="select datatable-selector dt-status-filter" id="status-filter">
                                            <option value="Todas">Todas</option>
                                            <% valores_asist.forEach(function(val) { %>
                                                <option value="<%= val %>"><%= val %></option>
                                            <% }); %>
                                        </select>
                                    </div>
                                    <div class="justify-content-between" style="display: none;" id="mensaje_carga"> <h5>Cargando datos...</h5> </div>
                                    <thead>
                                        <tr>
                                            <th>Hora</th>
                                            <th>Espacio</th>
                                            <th>Clase</th>
                                            <th>Docente</th>
                                            <th>Estado</th>
                                            <th>Motivo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% asistencias.forEach(function(asistencia) { %>
                                            <tr>
                                                <td><%= asistencia.hora %></td>
                                                <td><%= asistencia.espacio %></td>
                                                <td><%= asistencia.clase %></td>
                                                <td><%= asistencia.docente %></td>
                                                <td><%= asistencia.estado %></td>
                                                <td><%= asistencia.motivo %></td>
                                            </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="../assets/js/scripts.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
        <script src="../assets/js/filtro-asistencias-bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
        <script> 
            $(document).ready(function() {
                // Initialize Select2
                var select2 = $('.select').select2();
            });
        </script>
    </body>
</html>
